---
import Layout from "../layouts/Layout.astro"
import ProductCard from "../components/ProductCard"
import Visible from "../components/Visible"
import {IProduct} from "../types";

const products: IProduct[] = await fetch('https://fakestoreapi.com/products')
    .then(response => response.json())
---

<Layout title="Products page">
    <h1 class="text-2xl font-bold">Products page</h1>

    <!--
        client:load - выполняется сразу после загрузки всех скриптов и стилей
        client:visible - ждет, пока компонент станет видимым на экране
    -->

    {products.map(prod => <ProductCard client:load product={prod}/>)}
    <Visible client:visible/>
</Layout>